<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Регистрация</h1>
    <form id="register-form">
        <input type="text" id="register-username" placeholder="Имя пользователя">
        <input type="password" id="register-password" placeholder="Пароль">
        <button type="submit">Зарегистрироваться</button>
    </form>
    <footer>
        <p>&copy; 2024 Сервіс бронювання авіактивів</p>
    </footer>
    <script type="module" src="../js/useRegistration/userRegistration.js">
    </script>
</body>

</html>