<header>
    <h1>Сервіс бронювання авіактивів</h1>
    <nav>
        <a href="">Головна</a>
        <a href="register">Реєстрація</a>
        <a href="login">Авторизація</a>
        <a href="profile">Мій профіль</a>
    </nav>
    </div>
</header>